.container {
  background-color: #303030;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;

  width: 100vw;
  height: 100vh;
}
.title {
  width: auto;
  height: 100px;
  margin: 20px 30px;
}
.container-grid {
  display: grid;
  grid-auto-columns: 1fr; /* auto add column with equal size */
  grid-auto-rows: 1fr;
  align-items: center;
  justify-items: center;
}
.title button {
  float: right;
}
.title hr {
  border-color: #999999;
}
.panel-title {
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin: 30px 30px 0px;
}
